@import "@normalize.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Slabo+27px');

html {
  font-family: Open Sans, sans-serif;
  background-color: rgb(111, 71, 30);
}

li a {
  text-decoration: none;
  color: rgb(146, 244, 209);
}

h1 {
  font-family: Roboto, sans-serif;
}
#cabecera1 h1 {
  padding-left: 0px;
  color: rgb(195, 191, 207);
  text-align: center;
  margin-bottom: 3px;
}
 #cabecera1 h2 {
   font-size: 15px;
   font-style: italic;
   text-align: center;
   margin-bottom: 3px;
   font-family: Montserrat, sans-serif;
 }

#cabecera1 .menu {
  width: 100%;
  border: 1px solid #000;
  margin: 1em 0;
  background-color: rgb(113, 75, 17);
}

#cabecera1 .menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#cabecera1 .menu li {
  display: flex;
  flex-grow: 0px;
  text-align: center;
  align-content: center;
}

.main-footer {
  display: flex;
  flex-
  text-align: left;
  font-family: 'Slabo 27px', ubuntu, sans-serif;
}

.main-footer .nav-footer {
  color: black,
}
